* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contenedor {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
#caja1,
#caja2,
#caja3 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 20%;
  width: 200px;
  height: 200px;
  font-size: 90px;
  border-radius: 0.9rem;
  box-shadow: 6px 10px 15px 1px rgb(8, 0, 0, 0.507);
}
#caja1 {
  background-color: red;
  color: rgb(8, 8, 8);
}
#caja2 {
  background-color: yellow;
  color: rgb(8, 8, 8);
}
#caja3 {
  background-color: green;
  color: rgb(8, 8, 8);
}

#titulo {
  width: 300px;
  height: 100px;
  font-family: Courier, monospace;
}
